.regist{
    width: 900px;
    height: 700px;
    margin: 0 auto;
    background: url("../imgs/regist_bk.jpg") no-repeat;
    padding-left:280px;
    padding-top: 80px;
    position: relative;
}
#register{
    background-color:rgba(226,210,187,0.6); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}
.regist .panel-header{
    background: linear-gradient(to bottom,#EFF5FF 0,#e3d3bc 100%);
}
#register_radio input{
    margin-left: 20px;
}
.line{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5px;
    background-color: green;
}